<div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/elliothatch">View on GitHub</a>

          <a id="project_title" href="{{ site.url }}/">neurotischism</a>
          <h2 id="project_tagline">queer game aesthetics or something</h2>
          <!--MENU BAR-->
          <div id="navigation_menu">
          		<ul id="menu_main_list">
          			<li><a href="{{ site.url }}/games/">games</a></li>
          			<li><a href="{{ site.url }}/notgames/">not games</a></li>
          			<li><a href="{{ site.url }}/about/">about</a></li>
          		</ul>
          	</div>
        </header>
</div>